#tp{font-size: 100px;}
#tp{text-align: center;}
.fl{color: red;}
.an{color: rgb(230, 155, 17);}
.se{color: rgb(197, 14, 14);}
.ti{color: rgba(49, 38, 38, 0.432);}
body{background-color: rgb(188, 188, 192);}
.nt{text-align: left;}
.ep{color: rgb(231, 247, 6);}
html{border: 30px solid rgb(255, 255, 255)}